@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

$cp-1: #141010;
$cp-2: #680747;
$cp-3: #c3195d;
$cp-4: #f70776;

$cp2-1: #11e6b4;
$cp2-2: #eb7fef;

$cp3-1: #0f292f;
$cp3-2: #14a098;
$cp3-3: #501f3a;
$cp3-4: #cb2d6f;
$cp3-4-dis: #bf6088;
$cp3-5: #cccccc;
$cp3-6: #ffffff;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

button {
  background-color: $cp3-4;
  color: $cp3-6;
  border-radius: 0.5rem;
  border-width: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
}

button:hover:not([disabled]) {
  border-color: $cp3-1;
  color: $cp3-1;
}

button:disabled:not(.display-square) {
  background-color: $cp3-4-dis;
}

.clicked-button {
  border-color: $cp3-1;
  color: $cp3-1;
}

h1 {
  font-size: x-large;
}

input {
  background-color: $cp3-4;
  text-align: center;
  border-radius: 0.5rem;
  margin: 0.5rem;
  border-width: 0.2rem;
  color: $cp3-6;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $cp3-2;
}

.page-wrapper {
  border-radius: 0.5rem;
  border-color: $cp3-5;
  border-width: 0.5rem;
  width: 100%;
  height: 100%;
}

.flash-terminated {
  animation-name: flash-border-term;
  animation-iteration-count: 5;
  animation-duration: 2s;
}

@keyframes flash-border-term {
  0% {
    border-color: $cp3-5;
  }
  50% {
    border-color: $cp3-1;
  }
  100% {
    border-color: $cp3-5;
  }
}

.grid-wrapper {
  background-color: $cp3-2;
  display: flex;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.control-wrapper {
  min-width: 15rem;
  width: 15%;
  background-color: $cp3-2;
  color: $cp3-6;
  display: grid;
  grid-template-rows: 35% 65%;
  margin: 0.5rem;
}

.display-square {
  width: 100%;
  height: 100%;
  background-color: $cp3-4;
  color: $cp3-6;
  border-radius: 0.3rem;
  border-width: 0.01rem;
}

.square-wrapper {
  border-color: $cp3-4;
  height: 100%;
}

.square-button:not([disabled]) {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.scrub-wrapper {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.casino-logo-spacing {
  margin-right: 0.2rem;
}

.row-col-controls-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.add-patterns-text-wrapper {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.patterns-wrapper {
  overflow-y: auto;
}

.pattern-button {
  width: -webkit-fill-available;
  display: grid;
  grid-template-columns: 60% 40%;
  min-height: 3.5rem;
  margin: 0.3rem !important;
}

.pattern-display-wrapper {
  margin: 1rem;
  background-color: white;
}

.patterns-settings-wrapper {
  border-radius: 0.5rem;
  border-color: $cp3-5;
  border-width: 0.5rem;
  display: flex;
  flex-direction: column;
}

.display-grid-wrapper {
  height: 100%;
  width: 100%;
  grid-column: 2;
}

.display-grid-row-wrapper {
  display: flex;
}

.settings-big-wrapper {
  height: 100%;
}

#row-para {
  grid-row: 1;
  grid-column: 1;
}

#row-input {
  grid-row: 1;
  grid-column: 2;
}

#col-para {
  grid-row: 2;
  grid-column: 1;
}

#col-input {
  grid-row: 2;
  grid-column: 2;
}

.square-on {
  background-color: $cp3-4;
}

.square-off {
  background-color: white;
}

.flexy {
  display: flex;
  align-items: center;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  min-width: 15rem;
  width: 15%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.control-wrapper button {
  margin: 0 0.3rem;
}
